plugins_tools/eid-viewer/eidv4.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      eID XML schema.
      Copyright(c) 2015 FedICT.

      This XSD defines the XML data format of the XML ".eid" files as
      generated by the v4 eID viewer. For backwards compatibility
      reasons, the eID viewer will also read older file formats that are
      not defined by this document. These files do not have a documented
      file format, but they can be converted to this XML format by way
      of the eID viewer.

      Note that due to limitations in the XSD specification, it was
      necessary to list certain items (such as the "middlename" element)
      in the top level in order to be able to mark them as optional
      where they are actually used. A side effect of this is that the
      XSD will also validate such elements if they were the toplevel
      element, which is not what is intended and which would not be
      accepted by the eID viewer.

      While every effort has been made to ensure this specification is
      free of errors, no guarantees are made as to its correctness.
      Whenever a discrepancy exists between this specification and the
      actual implementation in the eID viewer, the eID viewer takes
      precedence.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="eid" type="eidType" />
  <xsd:complexType name="eidType">
    <xsd:sequence>
      <xsd:element name="identity" type="identityType" />
      <xsd:element name="card" type="cardType" />
      <xsd:element name="address" type="addressType" />
      <xsd:element name="certificates" type="certificatesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="middlenames" type="xsd:string" />
  <xsd:complexType name="identityType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="firstname" type="xsd:string" />
      <xsd:element ref="middlenames" minOccurs="0" />
      <xsd:element name="nationality" type="xsd:string" />
      <xsd:element name="placeofbirth" type="xsd:string" />
      <xsd:element name="photo" type="xsd:base64Binary" />
    </xsd:sequence>
    <xsd:attribute name="nationalnumber" type="nnType" />
    <xsd:attribute name="dateofbirth" type="eidDateType" />
    <xsd:attribute name="gender" type="genderType" />
    <xsd:attribute name="noblecondition" type="xsd:string" use="optional" />
    <xsd:attribute name="specialstatus" type="specType" use="optional" />
    <xsd:attribute name="duplicate" type="dupType" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="nnType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{11}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="eidDateType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{8}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="genderType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="male" />
      <xsd:enumeration value="female" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="specType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NO_STATUS" />
      <xsd:enumeration value="WHITE_CANE" />
      <xsd:enumeration value="EXTENDED_MINORITY" />
      <xsd:enumeration value="WHITE_CANE_EXTENDED_MINORITY" />
      <xsd:enumeration value="YELLOW_CANE" />
      <xsd:enumeration value="YELLOW_CANE_EXTENDED_MINORITY" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="dupType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{2}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="cardType">
    <xsd:sequence>
      <xsd:element name="deliverymunicipality" />
    </xsd:sequence>
    <xsd:attribute name="documenttype" type="doctypeType" />
    <xsd:attribute name="cardnumber" type="cardnumType" />
    <xsd:attribute name="chipnumber" type="chipnumType" />
    <xsd:attribute name="validitydatebegin" type="eidDateType" />
    <xsd:attribute name="validitydateend" type="eidDateType" />
  </xsd:complexType>
  <xsd:simpleType name="doctypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="belgian_citizen" />
      <xsd:enumeration value="kids_card" />
      <xsd:enumeration value="bootstrap_card" />
      <xsd:enumeration value="habilitation_card" />
      <xsd:enumeration value="foreigner_a" />
      <xsd:enumeration value="foreigner_b" />
      <xsd:enumeration value="foreigner_c" />
      <xsd:enumeration value="foreigner_d" />
      <xsd:enumeration value="foreigner_e" />
      <xsd:enumeration value="foreigner_e_plus" />
      <xsd:enumeration value="foreigner_f" />
      <xsd:enumeration value="foreigner_f_plus" />
      <xsd:enumeration value="european_blue_card_h" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cardnumType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="chipnumType">
    <xsd:restriction base="xsd:hexBinary">
      <xsd:length value="16" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="addressType">
    <xsd:sequence>
      <xsd:element name="streetandnumber" type="xsd:string" />
      <xsd:element name="zip" type="xsd:string" />
      <xsd:element name="municipality" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="authentication" type="xsd:base64Binary" />
  <xsd:element name="signing" type="xsd:base64Binary" />
  <xsd:complexType name="certificatesType">
    <xsd:sequence>
      <xsd:element name="root" type="xsd:base64Binary" />
      <xsd:element name="citizenca" type="xsd:base64Binary" />
      <xsd:element ref="authentication" minOccurs="0" />
      <xsd:element ref="signing" minOccurs="0" />
      <xsd:element name="rrn" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
